.appContainer {
  display: flex;
  min-height: 100vh;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.light {
  background-color: var(--color-light-bg);
  color: var(--color-gray-800);
}

.sidebar {
  width: var(--sidebar-width);
  background-color: var(--color-light-bg);
  border-right: 1px solid var(--color-light-border);
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  height: var(--header-height);
  background-color: var(--color-light-bg);
  border-bottom: 1px solid var(--color-light-border);
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainContent {
  flex: 1;
  background-color: var(--color-light-bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightSidebar {
  width: var(--right-sidebar-width);
  background-color: var(--color-light-bg);
  border-left: 1px solid var(--color-light-border);
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}