@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --color-light-bg: #ffffff;
  --color-dark-bg: #1C1C1C;
  --color-light-text: #1C1C1C;
  --color-dark-text: #ffffff;
  --color-light-border: #1C1C1C1A;
  --color-dark-border: #374151;
  --color-gray-800: #111827;
  --sidebar-width: 212px;
  --right-sidebar-width: 280px;
  --header-height: 68px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

body[data-theme="light"] {
  background-color: var(--color-light-bg);
  color: var(--color-light-text);
}

body[data-theme="dark"] {
  background-color: var(--color-dark-bg);
  color: var(--color-dark-text);
}
